In [0]:
import pymysql
import pandas as pd
import smtplib, ssl

In [0]:
data=pd.read_excel('job.xlsx',index_col=0)
data

               회사          날짜
0           한신공영㈜  2020-05-01
1              한샘  2020-05-02
2            None  2020-05-03
3         현대오일뱅크㈜  2020-05-04
4          ㈜코리아센터  2020-05-05
5          SK네트웍스  2020-05-06
6          현대모비스㈜  2020-05-07
7        한국토지주택공사  2020-05-08
8       에이비엘생명보험㈜  2020-05-09
9   나비스오토모티브시스템즈㈜  2020-05-10
10          GS건설㈜  2020-05-11
11    ㈜에스앤아이코퍼레이션  2020-05-12
12         기아자동차㈜  2020-05-13
13          롯데홈쇼핑  2020-05-14
14           대한전선  2020-05-15
15       교촌 에프앤비㈜  2020-05-16
16           None  2020-05-17
17         현대자동차㈜  2020-05-18
18        CJ제일제당㈜  2020-05-19
19         LS일렉트릭  2020-05-20
20          ㈜대우건설  2020-05-21
21            대상㈜  2020-05-22
22         ㈜한국리서치  2020-05-23
23           None  2020-05-24
24        CJ제일제당㈜  2020-05-25
25       한국수력원자력㈜  2020-05-26
26         현대자동차㈜  2020-05-27
27         ㈜GS리테일  2020-05-28
28          ㈜대우건설  2020-05-29
29           None  2020-05-30
30           None  2020-05-31
31           한화토탈  2020-06-01
32        한국수자원공사  2020-06-02
33       한국지역난방공사  2020-06-03
34         기아자동차㈜  2020-06-04
35         현대자동차㈜  2020-06-05
36           None  2020-06-06
37           None  2020-06-07
38         국민연금공단  2020-06-08
39    ㈜에스앤아이코퍼레이션  2020-06-09
40          현대건설㈜  2020-06-10
41      양주시시설관리공단  2020-06-15
42         화성도시공사  2020-06-16
43      화성시인재육성재단  2020-06-18
44           오토시스  2020-06-20

In [0]:
def make_DB(password, DB_name):
    
    conn = pymysql.connect(host='localhost', 
                           user = 'root', 
                           password=password, 
                           charset='utf8',
                           cursorclass=pymysql.cursors.DictCursor)
    try:
        with conn.cursor() as cursor:
            print('creating DataBase ...')
            sql = 'CREATE DATABASE {}'.format(DB_name)
            cursor.execute(sql)
        conn.commit()
    finally:
        conn.close()

In [0]:
def make_table(password, DB_name, table_name):
    conn = pymysql.connect(host='localhost', 
                           user = 'root', 
                           password=password, 
                           db=DB_name, 
                           charset='utf8',
                           cursorclass=pymysql.cursors.DictCursor)
    try:
        with conn.cursor() as cursor:
            print('creating table ...')
            # 테이블이 생성되지 않은 경우만 테이블 생성
            sql = 'CREATE TABLE IF NOT EXISTS '+table_name+'''(날짜 CHAR(10) PRIMARY KEY,
                                            회사명 VARCHAR(20))'''
            cursor.execute(sql)
        conn.commit()
    finally:
        conn.close()

In [0]:
# 테이블 내용 전체 삭제 

def drop_table(password, DB_name, table_name):
    conn = pymysql.connect(host='localhost', 
                           user = 'root', 
                           password=password, 
                           db=DB_name, 
                           charset='utf8',
                           cursorclass=pymysql.cursors.DictCursor)
    try:
        with conn.cursor() as cursor:
            print('delete table ...')
            sql  = "DROP TABLE IF EXISTS {}".format(table_name)
            cursor.execute(sql)
            conn.commit()
            
    finally:
        conn.close()

In [0]:
def input_data(password, DB_name, table_name, Data):
 
    conn = pymysql.connect(host='localhost', 
                           user = 'root', 
                           password=password, 
                           db=DB_name, 
                           charset='utf8',
                           cursorclass=pymysql.cursors.DictCursor)
    try:
        with conn.cursor() as cursor:
            print('inserting data ...')

            # FOR LOOP로 바꿔서 수집한 데이터 테이블에  INSERT하기            
            sql = "INSERT INTO {} VALUES (%s, %s)".format(table_name)
            for index, row in Data.iterrows():

                val = (row['날짜'], row['회사명'])

                try:
                    cursor.execute(sql, val)

                except:
                    print(cursor._last_executed)
    
        conn.commit()
        print(cursor.rowcount, "record inserted.")
    finally:
        conn.close()

In [0]:
make_DB('12345','crawler')
make_table('12345','crawler','Job')
input_data('12345','crawler',data)

creating DataBase ...

ProgrammingError: (1007, "Can't create database 'crawler'; database exists")