In [47]:
import pymysql
import pandas as pd
import numpy as np

In [17]:
data=pd.read_excel('weather_crawling.xlsx',index_col=0)
data

            날짜  최저기온  최고기온  비   강수량
0   2020-05-01  16.4  26.2  X   0.0
1   2020-05-02  18.0  23.9  X   0.0
2   2020-05-03  17.0  27.4  X   0.0
3   2020-05-04  14.8  25.3  X   0.0
4   2020-05-05  13.1  19.3  X   0.0
5   2020-05-06  11.1  27.6  X   0.0
6   2020-05-07  14.9  26.5  X   0.0
7   2020-05-08  14.3  27.3  O   2.3
8   2020-05-09  12.7  16.8  O  24.4
9   2020-05-10  12.8  16.6  O   1.3
10  2020-05-11  12.4  22.0  O   3.4
11  2020-05-12  10.5  18.9  O   0.7
12  2020-05-13  10.2  21.8  X   0.0
13  2020-05-14  12.4  25.4  X   0.0
14  2020-05-15  14.1  20.2  O  12.0
15  2020-05-16  15.0  20.3  O   2.5
16  2020-05-17  14.6  24.9  X   0.0
17  2020-05-18  13.2  26.8  O  29.8
18  2020-05-19  10.1  17.1  O  19.0
19  2020-05-20   9.2  20.1  X   0.0
20  2020-05-21  10.9  22.9  X   0.0
21  2020-05-22  14.8  22.7  X   0.0
22  2020-05-23  16.6  25.0  X   0.0
23  2020-05-24  14.3  20.2  O  14.5
24  2020-05-25  13.7  21.3  X   0.0
25  2020-05-26  12.7  22.9  O   1.5
26  2020-05-27  11.8  23.9  X   0.0
27  2020-05-28  14.2  23.4  X   0.0
28  2020-05-29  14.6  27.6  X   0.0
29  2020-05-30  16.5  30.0  X   0.0
30  2020-05-31  17.6  28.0  O   1.0
31  2020-06-01  16.6  24.5  O   0.4
32  2020-06-02  14.8  21.8  O   2.0
33  2020-06-03  17.6  28.4  X   0.0
34  2020-06-04  19.7  26.5  O   0.2
35  2020-06-05  18.4  28.7  X   0.0
36  2020-06-06  19.2  30.9  X   0.0
37  2020-06-07  19.2  29.2  X   0.0
38  2020-06-08  19.8  32.0  X   0.0
39  2020-06-09  32.0  32.0  O  21.1

In [16]:
del data['Unnamed:0']

KeyError: 'Unnamed:0'

In [7]:
def make_DB(password, DB_name):
    conn = pymysql.connect(host='localhost', 
                           user = 'root', 
                           password=password, 
                           charset='utf8',
                           cursorclass=pymysql.cursors.DictCursor)
    try:
        with conn.cursor() as cursor:
            print('creating DataBase ...')
            sql = 'CREATE DATABASE '+ DB_name
            cursor.execute(sql)
        conn.commit()
    finally:
        conn.close()

In [12]:
def make_table(password, DB_name, table_name):
    conn = pymysql.connect(host='localhost', 
                           user = 'root', 
                           password=password, 
                           db=DB_name, 
                           charset='utf8',
                           cursorclass=pymysql.cursors.DictCursor)
    try:
        with conn.cursor() as cursor:
            print('creating table ...')
            # 테이블이 생성되지 않은 경우만 테이블 생성
            sql = 'CREATE TABLE IF NOT EXISTS '+table_name+'''(날짜 CHAR(10) PRIMARY KEY,
                                            최저기온 CHAR(10) NOT NULL, 
                                            최고기온 CHAR(10) NOT NULL,
                                            비 CHAR(10) NOT NULL,
                                            강수량 CHAR(10) NOT NULL)'''
            cursor.execute(sql)
        conn.commit()
    finally:
        conn.close()

In [9]:
# 테이블 내용 전체 삭제 

def drop_table(table_name):
    print('delete table ...')
    sql  = "DROP TABLE IF EXISTS "+ table_name
    curs.execute(sql)

In [48]:
pymysql.converters.encoders[np.float64] = pymysql.converters.escape_float
pymysql.converters.conversions = pymysql.converters.encoders.copy()
pymysql.converters.conversions.update(pymysql.converters.decoders)

In [49]:
# insert문을 사용해서 데이터 입력
def input_data(DB_name,data):
    
    conn = pymysql.connect(host='localhost', 
                           user = 'root', 
                           password='12345', 
                           db=DB_name, 
                           charset='utf8',
                           cursorclass=pymysql.cursors.DictCursor)
    curs = conn.cursor()
    print('inserting data ...')
   
    # FOR LOOP로 바꿔서 수집한 데이터 테이블에  INSERT하기
    sql = "INSERT INTO weather VALUES (%s, %s, %s, %s, %s)"
    for i in data.index:
        val = tuple(data.loc[i,data.columns])
        curs.execute(sql, val)


    conn.commit()
    conn.close()
    print(curs.rowcount, "record inserted.")

In [11]:
make_DB('12345','Crawler')

creating DataBase ...

In [13]:
make_table('12345','Crawler','Weather')

creating table ...

In [50]:
input_data('Crawler',data)

inserting data ...
1 record inserted.

C:\Users\user\Anaconda3\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column '최저기온' at row 1")
  self._do_get_result()
C:\Users\user\Anaconda3\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column '최고기온' at row 1")
  self._do_get_result()
C:\Users\user\Anaconda3\lib\site-packages\pymysql\cursors.py:329: Warning: (1265, "Data truncated for column '강수량' at row 1")
  self._do_get_result()